Makefile.in
Makefile
aclocal.m4
autom4te.cache
config.log
config.status
configure
depcomp
install-sh
missing
ylwrap
.deps
*.o
config.h.in
config.h
config.guess
config.sub
ltmain.sh
m4
*~
stamp-h1
=build
build
.rsync-filter
